@import url("./assets/fonts/fonts.css");
@import "tailwindcss";

@theme {
    --font-sans: "Azeret Mono", monospace, sans-serif;
    --font-serif: "Fredericka the Great", serif;

    --color-primary: #3a726f;
    --color-secondary: #ff5cd6;
    --color-tertiary: #eeff41;
    --color-light: #fbf9f8;
    --color-dark: #1a1a1a;
    --color-gray: #525252;
}

html,
body {
    @apply h-full text-dark;
}

body > div:first-child {
    @apply h-full flex flex-col;
}

.bg-paper {
    background-image: url("/images/bg.avif");
    background-size: contain;
}

.logo-typo {
    @apply font-serif text-xl;
}

.input {
    @apply outline-none border border-dark px-4 py-2 w-full;
}
.button {
    @apply cursor-pointer px-4 py-2 bg-primary text-light hover:bg-secondary active:bg-tertiary active:text-dark;
}
.link {
    @apply text-primary font-bold border-b cursor-pointer hover:text-secondary active:text-dark;
}
.error {
    @apply text-sm;
}
.error > span {
    @apply bg-tertiary;
}
.th {
    @apply text-gray text-sm mb-4;
}
